.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3%;
    background-color: #caffd2;

    color: white;
}

.header h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    text-align: left;

    padding-left: 3%;
    color: black;
}

.header h1 span {
    font-size: 0.5em;
    font-weight: 200;
}
