.content {
    min-height: 100vh;
    max-width: 50vw;

    background-image: linear-gradient(#caffd2d1, #f8f8f886 25%);
    border: 2px solid rgb(0, 0, 0);
    margin: 0.05%;
}

.content main {
    padding: 5%;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0.2em;
    text-align: justified;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3%;
}

.header h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    text-align: left;

    padding-left: 3%;
    color: black;
}

.header h1 span {
    font-size: 0.5em;
    font-weight: 300;
}

.backHome a {
    letter-spacing: 0.1em;
    font-style: italic;
    font-weight: 600;
    background-color: #ffffff;
    text-decoration: none;
    color: black;
    padding: 1%;
}

@media (max-width: 800px) {
    .content {
        max-width: 100%;

        border: 0px solid rgb(0, 0, 0);
        margin: 0.05%;
    }
}
