html {
    display: flex;
    justify-content: center;
}

body {
    /* width: 50%; */
    margin: 0%;
    padding: 0;
    display: flex;
    justify-content: center;
}

* {
    font-style: italic;
}
