.home {
    min-height: 100vh;

    background: linear-gradient(
        360deg,
        #caffd2 1%,
        rgba(255, 255, 255, 0.74) 90.45%
    );
    border: 2px solid black;
    margin: 0.05%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0%;
    color: rgb(0, 0, 0);
}

.header h1 {
    font-size: 1vw;
    font-weight: 900;
    letter-spacing: 0.305em;

    text-decoration: line-through;
    font-size: 4.5vw;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.posts ul {
    padding: 5%;
}

.posts ul li {
    /* background-color: aliceblue; */
    list-style-type: none;
    padding: 3%;
    margin: 1% 5% 10% 5%;
    border: 3px solid white;

    display: flex;
    justify-content: space-between;

    height: 200px;
}

.postLeft {
    /* background-color: #a7b5ff; */
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postRight {
    /* background-color: #ffffff; */
    width: 65%;
    padding: 3%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.postRight a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;

    font-size: 1.5rem;
    font-weight: 900;
    font-style: italic;

    letter-spacing: 0.035em;
    text-align: left;
}

.postRight p {
    color: rgba(122, 122, 122, 1);
    font-size: 17px;
    font-style: italic;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0.23em;
    text-align: left;
}

.postRight small {
    color: grey;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.1em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.backToHome {
    margin: 3rem 0 0;
}
