.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3%;
    background-color: #a7b5ff;

    color: white;
}

.header h1 {
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.105em;
    text-align: left;

    padding-left: 3%;
}

.header h1 span {
    font-weight: 900;
    padding-left: 20%;
}

.profileImg {
    border: 2px solid white;
    border-radius: 50%;

    margin-right: 3%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.posts ul {
    padding: 5%;
}

.posts ul li {
    list-style-type: none;
    padding: 3%;
    margin: 4%;
    border: 3px solid white;

    display: flex;
    justify-content: space-between;

    height: 200px;
}

.postLeft {
    background-color: antiquewhite;
    padding: 1%;
    width: 30%;
}

.postRight {
    background-color: #ffffff;
    width: 60%;
    padding: 3%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.postRight a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;

    font-size: 1.5rem;
    font-weight: 900;
    font-style: italic;

    letter-spacing: 0.035em;
    text-align: left;
}

.postRight small {
    color: grey;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.backToHome {
    margin: 3rem 0 0;
}
