.home {
    min-height: 100vh;
    width: 40vw;

    background: linear-gradient(
        360deg,
        #caffd2 1%,
        rgba(255, 255, 255, 0.74) 90.45%
    );
    border: 1px solid black;
    /* border-radius: 10px; */
    margin: 0.05%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0%;
    color: rgb(0, 0, 0);
}

.header h1 {
    margin: 1%;
    font-size: 1vw;
    font-weight: 900;
    letter-spacing: 0.305em;

    text-decoration: line-through;
    font-size: 4vw;
}

.header h1:hover {
    cursor: pointer;
    text-decoration: none;
    color: #caffd2;
    transition: 0.4s;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.posts ul {
    padding: 0;
}

.posts ul li {
    background-color: #ededed;
    list-style-type: none;

    margin: 3% 5% 7% 5%;

    border: 3px solid rgb(0, 0, 0);
    /* border-radius: 10px; */

    display: flex;
    justify-content: space-between;
}

.posts ul li:hover {
    box-shadow: 10px 12px 0px 0px #585858c3;
    transition: 0.2s;
    cursor: pointer;
}

.postLeft {
    border-right: 3px solid rgb(0, 0, 0);
    min-width: 35%;
}

.postLeft img {
    width: 100%;
    height: 100%;
}

.postRight {
    width: 65%;
    padding: 3%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: word-break;
}

/* titel as link */
.postRight a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;

    font-size: 1.5rem;
    font-weight: 900;
    font-style: italic;

    letter-spacing: 0.035em;
    text-align: left;
}

/* subtitle */
.postRight p {
    color: rgba(122, 122, 122, 1);
    font-size: 17px;
    font-style: italic;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0.23em;
    text-align: left;
}

/* date */
.postRight small {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.1em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.backToHome {
    margin: 3rem 0 0;
}
